# ignore everything
*

# except what's below

# directories
!*/

# git ignore
!/.gitignore

# read me
!**/README.md

# license
!**/LICENSE

# module files
!/go.sum
!/go.mod

# example files
!**/*.example

# go files
!**/*.go

# html files
!**/*.html

# sql files
!**/*.sql

# sh files
!**/*.sh

# docker files
!/docker-compose.yml
!/docker-compose.override.yml
!/docker-compose.prod.yml
!*/docker/Dockerfile.dev
!*/docker/Dockerfile.prod

# tern migration files
!*/config/*.tern.conf

# air live reload files
!*/config/.air.toml

# trellis files
!/trellis/nginx.conf
!/trellis/services.dev/*.conf
!/trellis/services.prod/*.conf
