# ignore everything
*

# except what's below

# directories
!*/

# git ignore
!/.gitignore

# read me
!**/README.md

# module files
!/go.sum
!/go.mod

# env example
!**/.env.example

# go files
!**/*.go

# html files
!**/*.html

# docker files
!/docker-compose.yml
!*/Dockerfile
