# ignore everything
*

# except what's below

# directories
!*/

# git ignore
!/.gitignore

# read me
!**/README.md

# license
!**/LICENSE

# module files
!/go.sum
!/go.mod

# env example
!**/.env.example

# go files
!**/*.go

# html files
!**/*.html

# sql files
!**/*.sql

# sh files
!**/*.sh

# docker files
!/docker-compose.yml
!*/Dockerfile

# tern migration files
!*/config/*.tern.conf

# air live reload files
!*/config/.air.toml

# nginx config files
!*/config/nginx.conf
