# general
BASE_URL=http://localhost:8080
# database
DB_NAME=bean_test
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
# cache
CACHE_HOST=redis
CACHE_PORT=6379
CACHE_USERNAME=default
CACHE_PASSWORD=
# smtp server
SMTP_HOST=smtp
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
# tern for migration
TERN_CONFIG=./bean/config/.migration.tern.conf
TERN_MIGRATIONS=./bean/internal/driver/migration
# tern for seed
SEED_TERN_CONFIG=./bean/config/.seed.tern.conf
SEED_TERN_MIGRATIONS=./bean/internal/driver/seed
