{{ define "navbar" }}
<a target="_blank" href="https://todo-stripe-link">Subscription</a>
&nbsp;·&nbsp;
<a href="/logout">Logout</a>
{{ end }}

{{ define "content" }}
<div class="section">
  <div class="subsection">
    <h4>New card</h4>

    <br />

    {{ if .Error }}
    <p>{{ .Error }}</p>
    {{ end }}

    <br />

    <form name="new" method="post">
      <label for="label">Label</label>
      <input
        id="label"
        type="text"
        name="label"
        maxlength="255"
        placeholder="Virtual card"
        {{ if .Form.Label }}
        value="{{ .Form.Label }}"
        {{ end }}
      />

      <label for="last4">Last 4</label>
      <input
        id="last4"
        type="text"
        name="last4"
        minlength="4"
        maxlength="4"
        required
        placeholder="4242"
        {{ if .Form.Last4 }}
        value="{{ .Form.Last4 }}"
        {{ end }}
      />

      <label for="brand">Brand</label>
      <select
        id="brand"
        name="brand"
        required
      >
        <option
          value="visa"
          {{ if eq .Form.Brand "visa" }}
          selected
          {{ end }}
        >Visa</option>
        <option
          value="mastercard"
          {{ if eq .Form.Brand "mastercard" }}
          selected
          {{ end }}
        >Mastercard</option>
        <option
          value="amex"
          {{ if eq .Form.Brand "amex" }}
          selected
          {{ end }}
        >Amex</option>
      </select>

      <label for="exp_month">Expiration month</label>
      <input
        id="exp_month"
        type="number"
        name="exp_month"
        min="1"
        max="12"
        required
        placeholder="12"
        {{ if .Form.ExpMonth }}
        value="{{ .Form.ExpMonth }}"
        {{ end }}
      />

      <label for="exp_year">Expiration year</label>
      <input
        id="exp_year"
        type="number"
        name="exp_year"
        min="2000"
        max="2150"
        required
        placeholder="2028"
        {{ if .Form.ExpYear }}
        value="{{ .Form.ExpYear }}"
        {{ end }}
      />

      <br />
      <input type="submit" value="Add card" />
    </form>

    <br /><br />

    <p class="actionbar">
      <a href="/home">Cancel</a>
    </p>
  </div>
</div>
{{ end }}
