{{ define "navbar" }}
<a target="_blank" href="https://www.buymeacoffee.com/app/my-account/payments/memberships">Subscription</a>
&nbsp;·&nbsp;
<a href="/logout">Logout</a>
{{ end }}

{{ define "content" }}
<div class="section">
  <div class="subsection">
    <h3>Total spending</h3>
    <p>
      {{ .MonthlyEstimate }} monthly
      &nbsp;·&nbsp;
      {{ .YearlyEstimate }} yearly
    </p>
  </div>
</div>

<div class="section">
  <p>
    <a href="/cards/new">Add a new card</a>
  </p>
</div>

<div class="section">
  {{ range .PaymentMethods }}
  {{ template "paymentmethod-item" . }}
  {{ end }}
</div>

{{ template "scripts" . }}
{{ end }}

{{ define "paymentmethod-item-actions" }}
<div>
  <p class="actionbar">
    <a href="/cards/{{ .ID }}/del">Delete card</a>
  </p>
</div>

<br />

<div>
  <p class="actionbar">
    <a href="/cards/{{ .ID }}/subs/new">Add a new subscription</a>
  </p>
</div>
{{ end }}

{{ define "subscription-item-actions" }}
<p class="actionbar">
  {{ if .Provider }}
  <a target="_blank" href="{{ .Provider }}">Unsubscribe</a>
  &nbsp;·&nbsp;
  {{ end }}
  <a href="/cards/{{ .PaymentMethodID }}/subs/{{ .ID }}/del">Delete</a>
</p>
{{ end }}

{{ define "scripts" }}
<script>
  // remembers if payment methods are open

  document.addEventListener("DOMContentLoaded", function (event) {
    if (!localStorage) return;

    document
      .querySelectorAll("details")
      .forEach(function (detail) {
        const key = "open-" + detail.id;
        if (localStorage.getItem(key)) detail.open = true;

        detail.addEventListener("toggle", function (event) {
          if (event.target.open) localStorage.setItem(key, true);
          else localStorage.removeItem(key);
        });
      });
  }, { once: true });
</script>
<script>
  // maintains scroll position on page reload

  document.addEventListener("DOMContentLoaded", function (event) {
    if (!localStorage) return;

    const scrollpos = localStorage.getItem("scrollpos");

    if (scrollpos) window.scrollTo(0, scrollpos);
  }, { once: true });

  window.addEventListener("beforeunload", function (event) {
    localStorage.setItem("scrollpos", window.scrollY);
  }, { once: true });
</script>
{{ end }}
