{{ define "content" }}
<div class="section">
  <p>
    How many subscriptions do you have?
    <br />
    How much are they costing you?
  </p>
  <p><strong>bean</strong> helps you track them. It's good for you.</p>
</div>

<div class="section">
  <p>
    It is a subscription tracker for <i>the rest of us</i>.
    <br />
    Those who can't link a bank account or prefer not to.
  </p>
</div>

<div class="section">
  <p>It's only $5/month.</p>
  <p>We can see the irony.</p>
  <p>
    We want to avoid selling your data.
    <br />
    We do help you track it though.
  </p>
</div>
{{ end }}
