{{ define "body" }}
<div class="section content">
  <p>How many subscriptions do you have?</p>
  <p>How much are they costing you?</p>
  <br />
  <p>Just track them with <strong>bean</strong>.</p>
  <br />
  <p>What is <strong>bean</strong>?</p>
  <p>
    <strong>bean</strong> is a subscription tracker for <i>the rest of us</i>.
  </p>
  <br />
  <p>Who are <i>the rest of us</i>?</p>
  <p>We are folks who can't or won't link a bank account.</p>
  <br />
  <p>How much?</p>
  <p>$5 per month.</p>
  <br />
</div>
{{ end }}
