{{ define "navbar" }}
<a>About</a>
&nbsp;·&nbsp;
<a href="/signup">Sign up</a>
&nbsp;·&nbsp;
<a href="/login">Login</a>
{{ end }}

{{ define "content" }}
<div class="section">
  <p>
    How many subscriptions do you have?
    <br />
    How much are they costing you?
  </p>
  <p><strong>bean</strong> helps you track them. It's good for you.</p>
</div>

<div class="section">
  <p>
    It is a subscription tracker for <i>the rest of us</i>.
    <br />
    Those who can't link a bank account or prefer not to.
  </p>
</div>

<div class="section">
  <p>It's only $2 per month. We like the irony.</p>
</div>
{{ end }}
