{{ define "navbar" }}
<a href="/logout">Logout</a>
{{ end }}

{{ define "content" }}
<div class="section">
  <p>
    Before you can use bean, <a target="_blank" href="https://youtu.be/QXDU-XN9Mxs">we want to charge you.</a>
    <br />
    We don't need the money. We just like the irony.
  </p>
</div>

<div class="section">
  <p>
    Make sure you use the same email you logged in with.
    <br />
    Once you're subscribed, refresh this page.
  </p>
  <br />
  <p>
    If you run into trouble, email us at 
    <a href="mailto:277@hey.com">277@hey.com</a>.
  </p>
  <br />
  <p>
    <a target="_blank" href="https://www.buymeacoffee.com/whatis277/membership">
      Subscribe
    </a>
  </p>
</div>

<div class="section">
  <p>
    We're using BuyMeACoffee to handle the payments.
    <br />
    We're not affiliated with them in any way.
  </p>
</div>
{{ end }}
