{{ define "navbar" }}
<a href="/subscriptions">Subscription</a>
&nbsp;·&nbsp;
<a>Cards</a>
&nbsp;·&nbsp;
<a href="/logout">Logout</a>
{{ end }}

{{ define "content" }}
<div class="section">
  <div class="subsection">
    <p class="actionbar">
      <a href="/cards/new">Add a new card</a>
    </p>
  </div>

  {{ range .PaymentMethods }}
  <div id="{{ .ID }}" class="subsection">
    <h5>{{ .Label }}</h5>
    <p>
      {{ .Last4 }}
      &nbsp;·&nbsp;
      {{ .ExpMonth }} / {{ .ExpYear }}
      &nbsp;·&nbsp;
      {{ .Brand }}
    </p>
    <p class="actionbar">
      <form method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="hidden" name="id" value="{{ .ID }}" />
        <input type="submit" value="Delete" />
      </form>
    </p>
  </div>
  {{ end }}
</div>
{{ end }}
