{{ define "navbar" }}
<a href="/subscriptions">Subscription</a>
&nbsp;·&nbsp;
<a>Cards</a>
&nbsp;·&nbsp;
<a href="/logout">Logout</a>
{{ end }}

{{ define "content" }}
<div class="section">
  <div class="subsection">
    <p class="actionbar">
      <a href="/cards/new">Add a new card</a>
    </p>
  </div>

  {{ range .PaymentMethods }}
  <div id="card-{{ .ID }}" class="subsection">
    <hr /><br /><br />
    <h5>{{ .Label }}</h5>
    <p>
      {{ .Last4 }}
      &nbsp;·&nbsp;
      {{ .ExpMonth }} / {{ .ExpYear }}
      &nbsp;·&nbsp;
      {{ .Brand }}
    </p>
    <p>
      {{ .MonthlyEstimate }} monthly
      &nbsp;·&nbsp;
      {{ .YearlyEstimate }} yearly
    </p>
    <br />
    <p class="actionbar">
      <label for="delete-card-{{ .ID }}">Delete</label>
    </p>

    <form class="hidden" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input type="hidden" name="id" value="{{ .ID }}" />
      <input id="delete-card-{{ .ID }}" type="submit" value="Delete" />
    </form>
  </div>
  {{ end }}
</div>
{{ end }}
