{{ define "navbar" }}
<a target="_blank" href="https://todo-stripe-link">Subscription</a>
&nbsp;·&nbsp;
<a href="/logout">Logout</a>
{{ end }}

{{ define "content" }}
{{ template "styles" . }}

<div class="section">
  <div class="subsection">
    <h3>Total spending</h3>
    <p>
      {{ .MonthlyEstimate }} monthly
      &nbsp;·&nbsp;
      {{ .YearlyEstimate }} yearly
    </p>
  </div>
</div>

<div class="section">
  <p>
    <a href="/todo">Add a new card</a>
  </p>
</div>

<div class="section">
  {{ range .PaymentMethods }}
  {{ template "paymentmethod-container" . }}
  {{ end }}
</div>

{{ template "scripts" . }}
{{ end }}

{{ define "paymentmethod-container" }}
<div class="pm-container">
  <br /><br />
  <details id="pm-{{ .ID }}">
    <summary>
      {{ template "paymentmethod" . }}
    </summary>

    <br />

    <div>
      <p class="actionbar">
        <a href="/todo">Delete card</a>
      </p>
    </div>

    <br />

    <div>
      <p class="actionbar">
        <a href="/todo">Add a new subscription</a>
      </p>
    </div>

    <br />

    <ul>
      {{ if .Subscriptions }}
      {{ range .Subscriptions }}
      <hr /><br />
      {{ template "subscription" . }}
      <br />
      {{ end }}
      {{ else }}
      <li class="subscription">
        <hr /><br />
        <p><em>No subscriptions</em></p>
        <br />
      {{ end }}
    </ul>
  </details>
  <br /><br />
</div>
{{ end }}

{{ define "paymentmethod" }}
<h4>{{ .Label }}</h4>
<br /><br />
<p>
  {{ .Last4 }}
  &nbsp;·&nbsp;
  {{ .ExpMonth }} / {{ .ExpYear }}
  &nbsp;·&nbsp;
  {{ .Brand }}
</p>
<p>
  {{ .MonthlyEstimate }} monthly
  &nbsp;·&nbsp;
  {{ .YearlyEstimate }} yearly
</p>
{{ end }}

{{ define "subscription" }}
<li id="sub-{{ .ID }}">
  {{ if .Label }}
  <p><strong>{{ .Label }}</strong></p>
  {{ end }}
  <p>
    {{ .Amount }} &nbsp;·&nbsp; {{ .Frequency }}
  </p>
  <p class="actionbar">
    {{ if .Provider }}
    <a target="_blank" href="{{ .Provider }}">Unsubscribe</a>
    &nbsp;·&nbsp;
    {{ end }}
    <a href="/todo">Delete</a>
  </p>
</li>
{{ end }}

{{ define "styles" }}
<style>
summary > h1,
summary > h2,
summary > h3,
summary > h4,
summary > h5 {
  display: inline;

  margin-left: 0.5em;

  cursor: pointer;
}

ul {
  list-style: none;

  padding: 0;
  margin: 0;
}

hr {
  opacity: 0.4;
}

.pm-container {
  position: relative;
}

.pm-container:nth-of-type(odd)::before {
  content: "";

  background-color: #f9f9f9;

  width: 100vw;
  height: 100%;

  position: absolute;
  z-index: -1;

  top: 0;
  /*
    * The left value is calculated as follows.
    * 
    * We know the container width is min(100%, 36em).
    * 
    * Thus, we know the area outside the container.
    * That is 100vw - min(100%, 36em).
    * 
    * But that area is to the left and right of the container.
    * The container is centered, so they are equal. 
    * So, we split it in half.
    * 
    * Then, we subtract that from 0rem to get the negative value.
    */
  left: calc(0rem - calc((100vw - min(100%, 36em)) / 2));
}
</style>
{{ end }}

{{ define "scripts" }}
<script>
  // remembers if payment methods are open

  document.addEventListener("DOMContentLoaded", function (event) {
    if (!localStorage) return;

    document
      .querySelectorAll("details")
      .forEach(function (detail) {
        const key = "open-" + detail.id;
        if (localStorage.getItem(key)) detail.open = true;

        detail.addEventListener("toggle", function (event) {
          if (event.target.open) localStorage.setItem(key, true);
          else localStorage.removeItem(key);
        });
      });
  }, { once: true });
</script>
<script>
  // maintains scroll position on page reload

  document.addEventListener("DOMContentLoaded", function (event) {
    if (!localStorage) return;

    const scrollpos = localStorage.getItem("scrollpos");

    if (scrollpos) window.scrollTo(0, scrollpos);
  }, { once: true });

  window.addEventListener("beforeunload", function (event) {
    localStorage.setItem("scrollpos", window.scrollY);
  }, { once: true });
</script>
{{ end }}
