{{ define "navbar" }}
<a href="/">About</a>
&nbsp;·&nbsp;
<a>Sign up</a>
&nbsp;·&nbsp;
<a href="/login">Login</a>
{{ end }}

{{ define "content" }}
<div class="section">
  <!-- https://youtu.be/QXDU-XN9Mxs -->
  <p>
    To use <strong>bean</strong>, <a target="_blank" href="https://www.buymeacoffee.com/whatis277/membership">become a Member on BuyMeACoffee</a>.
    <br />
    Then, you can directly login with the same email.
  </p>
  <p>
    You'll have at least one subscription to track.
  </p>
</div>

<div class="section">
  <p>
    It's $1 per month. Cancel anytime.
  </p>
  <p>
    It's our way of verifying you're not a bot.
    <br />
    We refund the first month if you win a coin flip.
  </p>
</div>
{{ end }}
