{{ define "navbar" }}
<a href="/">About</a>
&nbsp;·&nbsp;
<a>Sign up</a>
&nbsp;·&nbsp;
<a href="/login">Login</a>
{{ end }}

{{ define "content" }}
<div class="section">
  <!-- https://youtu.be/QXDU-XN9Mxs -->
  <p>
    If you want to use <strong>bean</strong>, <a target="_blank" href="https://www.buymeacoffee.com/whatis277/membership">subscribe</a>.
    <br />
    After you subscribe, we email you a login link.
  </p>
  <p>
    You'll have at least one subscription to track.
  </p>
</div>

<div class="section">
  <p>
    It's $2 per month. Cancel anytime.
  </p>
  <p>
    We refund your first month if you ask.
    <br />
    You also have to win a coin flip.
  </p>
</div>
{{ end }}
