{{ define "navbar" }}
<a href="/">About</a>
&nbsp;·&nbsp;
<a>Sign up</a>
&nbsp;·&nbsp;
<a href="/login">Login</a>
{{ end }}

{{ define "content" }}
<div class="section">
  <!-- https://youtu.be/QXDU-XN9Mxs -->
  <p>Before you can use bean, <a target="_blank" href="https://www.buymeacoffee.com/whatis277/membership">we want you to subscribe.</a></p>
  <p>
    It's $2 per month; cancel anytime.
    <br />
    We refund your first month, if you ask.
  </p>
</div>

<div class="section">
  <p>
    Upon subscribing, we'll send you an email with a login link.
    <br />
    The login link is only good for 10 minutes.
  </p>
</div>

<div class="section">
  <p>
    By making you subscribe first, we no longer need captchas.
    <br />
    It is simpler for both of us and better for accessibility.
  </p>
</div>
{{ end }}
