{{ define "navbar" }}
<a>Subscription</a>
&nbsp;·&nbsp;
<a href="/cards">Cards</a>
&nbsp;·&nbsp;
<a href="/logout">Logout</a>
{{ end }}

{{ define "content" }}
<div class="section">
  <div class="subsection">
    <p class="actionbar">
      <a href="/subscriptions/new">Add a new subscription</a>
    </p>
  </div>

  {{ range .Subscriptions }}
  <div id="sub-{{ .ID }}" class="subsection">
    <h5>
      {{ if .Provider }}
        <a href="{{ .Provider }}">{{ .Label }}</a>
      {{ else }}
        {{ .Label }}
      {{ end }}
    </h5>
    <p>
      {{ .Amount }}
      &nbsp;·&nbsp;
      {{ .Frequency }}
    </p>
    <p class="actionbar">
      <label for="delete-sub-{{ .ID }}">Delete</label>
    </p>

    <form class="hidden" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input type="hidden" name="id" value="{{ .ID }}" />
      <input id="delete-sub-{{ .ID }}" type="submit" value="Delete" />
    </form>
  </div>
  {{ end }}
</div>
{{ end }}
