{{ define "navbar" }}
<a>Subscription</a>
&nbsp;·&nbsp;
<a href="/cards">Cards</a>
&nbsp;·&nbsp;
<a href="/logout">Logout</a>
{{ end }}

{{ define "content" }}
<div class="section">
  <div class="subsection">
    <p class="actionbar">
      <a href="/subscriptions/new">Add a new subscription</a>
    </p>
    <br /><br />
    <hr />
  </div>

  {{ range .Subscriptions }}
  <div id="sub-{{ .ID }}" class="subsection">
    <h5>
      {{ if .Provider }}
      <a target="_blank" href="{{ .Provider }}">{{ .Label }}</a>
      {{ else }} {{ .Label }} {{ end }}
    </h5>
    <p>{{ .Amount }} &nbsp;·&nbsp; {{ .Frequency }}</p>
    <p>
      Using <a href="/cards?id={{ .PaymentMethodID }}">
        {{ if .PaymentMethodLabel }}
        {{ .PaymentMethodLabel }}
        {{ else }}
        {{ .PaymentMethodLast4 }} &nbsp;·&nbsp; {{ .PaymentMethodExpMonth }} / {{ .PaymentMethodExpYear }}
        {{ end }}
      </a>
    </p>
    <p class="actionbar">
      <label for="delete-sub-{{ .ID }}">Delete</label>
    </p>
    <br /><br />
    <hr />

    <form class="hidden" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input type="hidden" name="id" value="{{ .ID }}" />
      <input id="delete-sub-{{ .ID }}" type="submit" value="Delete" />
    </form>
  </div>
  {{ end }}

  <div id="sub-default" class="subsection">
    <h5>Bean</h5>
    <p>$1.99 &nbsp;·&nbsp; Every month</p>
    <p class="actionbar">
      <a target="_blank" href="https://todo-add-stripe-link">End</label>
    </p>
  </div>
</div>
{{ end }}
